[Desktop Entry]
Version=1.0
Type=Application
Name=Acquisition insectes
Comment=Lancer le systeme d'acquisition d'images
Exec=bash -c "cd ~/projet-acquisition-insectes && source venv/bin/activate && python3 interface.py"
Icon=camera-photo
Terminal=false
Categories=Science;
StartupNotify=true
